version: '3.8'

services:
  web:
    image: faq4265/todo-list:latest
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/
    depends_on:
      - mongodb
    networks:
      - todo_network
    restart: always

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - todo_network
    restart: always

networks:
  todo_network:
    driver: bridge

volumes:
  mongodb_data: