version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo_jenkins
    ports:
      - "27018:27017"
    volumes:
      - mongo_data_jenkins:/data/db

  webapp:
    image: python:3.11
    container_name: webapp_jenkins
    working_dir: /app
    volumes:
      - /home/ubuntu/myproject:/app
    ports:
      - "8000:8000"  # FastAPI port
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt && uvicorn main:app --host 0.0.0.0 --port 8000"

volumes:
  mongo_data_jenkins:
