version: "3.8"

services:
  jenkins_mongo:
    image: mongo:6.0
    container_name: jenkins_mongo
    restart: unless-stopped
    ports:
      - "27018:27017"          # host port 27018 -> mongo 27017 (different port)
    volumes:
      - mongo_data_jenkins:/data/db

  jenkins_fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins_fastapi
    restart: unless-stopped
    ports:
      - "9000:8000"            # host 8081 -> container 8000 (different from Part I) 
    volumes:
      - ./:/app                # <-- mount the repo code into container (requirement)
    working_dir: /app
    environment:
      - MONGO_URI=mongodb://jenkins_mongo:27017
    depends_on:
      - jenkins_mongo
    command: >
      sh -c "uvicorn app.main:app --host 0.0.0.0 --port 8000"

volumes:
  mongo_data_jenkins:

